.head{
padding: 3rem 6rem;
display: flex;
justify-content: center;
margin-bottom: 4rem;
    
@media only screen and (max-width: $bp-large){
   padding: 3rem 4rem;
    }

 @media only screen and (max-width: $bp-small-4){
       padding: 3rem 2rem;
    }
    
    &__cover{
     width: 80%;
    height: 65vh;
//    background-image: linear-gradient(to left bottom, rgba($color-black, .8), rgba($color-black, 0.3)),url(../img/macbook.jpg);
//    background-image: url(../../img/macbook.jpg);
    background-size: cover;
    text-align: center;
    flex: 1;
    background-position: center;
    position: relative;
    background-image: url(../../img/macbook.jpg);
    }
    
    &__text{
    justify-self: flex-start;
    color: $color-white;
    text-align: left;
    position: absolute;
    top: 50%;
    transform: translateY(-45%);
    padding-left: 5rem;
    }
    
    &__h1{
    font-size: 4.5rem;
    font-weight: 500;
     margin-bottom: 1.2rem;
    }
    
    &__h2{
      font-weight: 300;
    font-size: 2rem;
    margin-bottom: 4rem;
    }
    
     &__h3{
    color: $color-teritary-3;
    margin-bottom: 1.5rem;
    }
    
    &__purchase{
    display: flex;
    align-items: center;
        
      @media only screen and (max-width: $bp-small-4){
      flex-direction: column;
        align-items: flex-start;
    }
    }
    
    &__price{
    font-size: 2.8rem;
    }
}
