//COLORS
//GREY
$color-teritary-1: #f9f7f6;
$color-teritary-2: #aaa;
$color-teritary-3: #dddddd;
$color-teritary-4: #e6e6e6;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

//RED
$color-primary-1: #e84545;
$color-primary-2: #ef4f4f;
$color-primary-3: #f05454;
$color-primary-4: #ec5858;

//BLACK
$color-black: #000;
$color-secondary-1: #3f3f44;
$color-secondary-2: #323232;

//WHITE:
$color-white: #fff;

//FONT
$font-display: 'Roboto', sans-serif;
