//COLORS
//GREY
$color-teritary-1: #f9f7f6;
$color-teritary-2: #aaa;
$color-teritary-3: #dddddd;
$color-teritary-4: #e6e6e6;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

//RED
$color-primary-1: #e84545;
$color-primary-2: #ef4f4f;
$color-primary-3: #f05454;
$color-primary-4: #ec5858;

//BLACK
$color-black: #000;
$color-secondary-1: #3f3f44;
$color-secondary-2: #323232;

//WHITE:
$color-white: #fff;

//FONT
$font-display: 'Roboto', sans-serif;

//MEDIA QUERIES

$bp-largest: 78.125em; //1250px
$bp-largest-2: 72.5em; //1160px
$bp-largest-1: 68.75em; //1100px
$bp-large: 62.5em; //1000px
$bp-medium: 56.25em; //900px
$bp-medium-2: 43.75em; //700px
$bp-medium-3: 40.625em; //650px
$bp-medium-4: 37.5em; //600px
$bp-medium-5: 34.4375em; //551px
$bp-medium-6: 31.875em; //510px
$bp-small: 28.125em; //450px
$bp-small-1: 25em; //400px
$bp-small-2: 23.75em; //380px
$bp-small-3: 21.875em; //350px
$bp-small-4: 18.125em; //290px
$bp-smallest: 16.25em; //260px
$bp-smallest-1: 15em; //240px
