*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    
     @media only screen and (max-width: $bp-medium){
    font-size: 50%; //8px 
    }
    
     @media only screen and (max-width: $bp-small){
     font-size: 43.75%; //7px 
    }
    
    @media only screen and (max-width: $bp-small-3){
       font-size: 37.5%; //6px;     
     }

}

body {
    font-family: $font-display;
    color: $color-black;
}

ul{
list-style: none;
}

a{
text-decoration: none;
color: $color-black;
}

::-webkit-input-placeholder{
position: absolute;
left: 4.5rem;
}

//::-moz-placeholder {
// text-align: center;
//}
//
//:-moz-placeholder {
// text-align: center;
//}

input[required]:placeholder-shown{
text-align: left;
font-size: 1.3rem;
color: $color-teritary-2;
}